.hero {
  margin-top: -5rem;
  height: 100vh;
  position: relative;
}

.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero-info h1 {
  color: var(--clr-primary-1);
}

.hero-info p {
  color: var(--clr-primary-1);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }

  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
}

@media screen and (min-width: 1170px) {
  .hero-info {
    grid-column: 3 / span 8;
  }
}

@media (max-width: 850px) {
  .hero-info {
    width: 348px;
  }
}