.footer {
  background: var(--clr-primary-1);
  text-align: center;
  display: grid;
  place-items: center;
}

.footer-links {
  margin-top: 1rem;
}

.footer .social-link {
  font-size: 2rem;
  color: var(--clr-white);
}