.blog article {
  padding: 20px;
  width: 370px;
  box-shadow: 0 0 5px 0 #2e2e2e;
  position: relative;
}

.blog article::after,
.blog article::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform .3s ease-in-out;
}

.blog article::before {
  border-left: 1px solid var(--clr-primary-1);
  border-right: 1px solid var(--clr-primary-1);
  transform: scaleY(0);
}

.blog article::after {
  border-top: 1px solid var(--clr-primary-1);
  border-bottom: 1px solid var(--clr-primary-1);
  transform: scaleX(0);
}

.blog article:hover::after {
  transform: scaleX(1);
}

.blog article:hover::before {
  transform: scaleY(1);
}

.blog-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.blog-card .text {
  margin: 20px auto;
}

.blog-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 15rem;
}

.blog-card {
  padding: 1.5rem 1rem;
}

.blog-card h4 {
  color: var(--clr-grey-1);
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-footer p {
  margin-bottom: 0;
  font-weight: bold;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 576px) {
  .blogs-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }

  .blog-img {
    height: 17.5rem;
  }
}

@media screen and (min-width: 850px) {
  .blog-img {
    height: 13.75rem;
  }
}