.lab {
  padding: 1.5rem;
  width: 370px;
  box-shadow: 0 0 5px 0 #2e2e2e;
  position: relative;
  cursor: pointer;
}

.lab::after,
.lab::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform .3s ease-in-out;
}

.lab::before {
  border-left: 1px solid var(--clr-primary-1);
  border-right: 1px solid var(--clr-primary-1);
  transform: scaleY(0);
}

.lab::after {
  border-top: 1px solid var(--clr-primary-1);
  border-bottom: 1px solid var(--clr-primary-1);
  transform: scaleX(0);
}

.lab:hover::after {
  transform: scaleX(1);
}

.lab:hover::before {
  transform: scaleY(1);
}

.lab-img {
  height: 14rem;
  width: 100%;
  margin-bottom: 1.25rem;
}

.lab h4 {
  text-align: left;
  font: 700 1.225rem Roboto;
  padding: 0 14px 0 14px;
}

.lab p {
  padding: 0 14px 0 14px;
  text-align: justify;
  color: var(--clr-primary-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media screen and (min-width: 676px) {
  .labs-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .labs-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}